<%# Copyright 2019, Ryan Sise

This file is part of Podcast Interview Manager.

Podcast Interview Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Podcast Interview Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Podcast Interview Manager.  If not, see <https://www.gnu.org/licenses/>. %>

<%if flash[:notice]%>
  <h2><%=flash[:title]%></h2>
  <h3><%=flash[:notice]%></h3>
<%end%>
<%=form_tag('/login') do%>
  <%=label_tag('host[email]', "Email")%><br>
  <%=text_field_tag('host[email]')%><br>
  <br>
  <%=label_tag('host[password]', "Password")%><br>
  <%=password_field_tag('host[password]')%><br>
  <br>
  <%=submit_tag('Login')%>
<%end%>