<%# Copyright 2019, Ryan Sise

This file is part of Podcast Interview Manager.

Podcast Interview Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Podcast Interview Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Podcast Interview Manager.  If not, see <https://www.gnu.org/licenses/>. %>

<%=form_for(@show, url:host_shows_path) do |form|%>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h4>There were some errors:</h4>
      <ul>
        <% @show.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%=form.label :title%><br>
  <%=form.text_field :title%><br>
  <%=form.label :description%><br>
  <%=form.text_area :description, cols:30, rows:10%><br>
  <%=form.label :category%><br>
  <%=form.text_field :category%><br>
  <%=form.label :url%><br>
  <%=form.text_field :url%><br>
  <%=form.label :duration%><br>
  <%=form.text_field :duration%><br>
  <%=form.submit%>
<%end%>